<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>nw.nms | EPN</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
        <link rel="stylesheet" href="resources/css/style.css">
        <script>require('./resources/js/main.js');</script>
    </head>
    <body >
        <div class="ui grid dragabble-window">
          <div class="four column row">
            <div class="left floated column"></div>
            <div class="right floated column">
              <i class="github big icon"></i>
              <i class="power big icon"></i>
            </div>
          </div>
        </div>
        <div class="ui grid" id="snmjs">
          <div class="six wide column left-container">
            <div class="ui top attached tabular menu">
              <a class="active item" data-tab="v3">Versión 3</a>
              <a class=" item" data-tab="v2c">Versión 2c</a>
              <a class="item" data-tab="expert">Avanzado</a>
            </div>
            <!--Contenedor para tab2 SNMP Versión 2-->
            <div class="ui active tab segment" data-tab="v3" id="v3">
              <div class="ui equal width form">
                <div class="fields" >
                  <div class="field ui labeled input" id="commandSelect">
                    <div class="ui label">
                      snmp:
                    </div>
                    <select class="ui selection dropdown" v-model="netSnmpCommand">
                      <option value="snmpget">get</option>
                      <option value="snmpgetnext">getnext</option>
                      <option value="snmpwalk">walk</option>
                      <option value="snmpset">set</option>
                      <option value="snmptrap">trap</option>
                    </select>
                  </div>
                </div>
                <div class="fields" >
                  <div class="field">
                    <input type="text" placeholder="dirección ip" v-model="ipv4" name="ipv4">
                  </div>
                </div>
                <div class="fields" >
                  <div class="field">
                    <input type="text" placeholder="nombre de usuario" v-model="userName">
                  </div>
                </div>
                <div class="fields" >
                  <div class="four wide field ui labeled input" id="authProtocolSelect">
                    <div class="ui label">
                      auth:
                    </div>
                    <select class="ui selection dropdown" v-model="authProtocol" >
                      <option value="MD5">md5</option>
                      <option value="SHA">sha</option>
                      <option value="null">Ningúno</option>
                    </select>
                  </div>
                  <div class="seven wide field" id="authkey">
                    <input type="text" placeholder="clave de autenticación" v-model="authKey" :disabled="disableAuth">
                  </div>
                </div>
                <div class="fields" v-show="disableContainerPriv">
                  <div class="four wide field ui labeled input" id="privProtocolSelect">
                    <div class="ui label">
                      &nbsp;&nbsp;priv:
                    </div>
                    <select class="ui selection dropdown" v-model="privProtocol" :disabled="disablePrivProtocol">
                      <option value="AES">aes</option>
                      <option value="DES">des</option>
                      <option value="null">Ningúno</option>
                    </select>
                  </div>
                  <div class="seven wide field" id="privkey">
                    <input type="text" placeholder="clave de privacidad" v-model="privKey" :disabled="disablePriv">
                  </div>
                </div>
                <div class="fields">
                  <div class="field">
                    <input type="text" placeholder="oid" v-model="oidv3">
                  </div>
                </div>
                <div class="fields" id="snmpSetV3" v-show="snmpSetV3Container">
                  <div class="field">
                    <input v-model="snmpSetValueV3" type="text" placeholder="valor oid"/>
                  </div>
                </div>
                <div class="fields">
                  <div class="field">
                    <button class="orange ui button" v-on:click="snmpv3Handler" style="margin:0">Ejecutar</button>
                  </div>
                </div>
              </div>
            </div>
            <!--Contenedor para tab1 SNMP Versión 3-->
            <div class="ui tab segment" data-tab="v2c">
              <div class="ui equal width form stackable">
                <div class="fields" >
                  <div class="field ui labeled input">
                    <div class="ui label">
                      snmp:
                    </div>
                    <select class="ui search dropdown">
                      <option value="snmpget">get</option>
                      <option value="snmpgetnext">getnext</option>
                      <option value="snmpwalk">walk</option>
                      <option value="snmpset">set</option>
                      <option value="snmptrap">trap</option>
                    </select>
                  </div>
                </div>
                <div class="fields" >
                  <div class="field">
                    <input type="text" placeholder="dirección ip">
                  </div>
                </div>
                <div class="fields" >
                  <div class="field">
                    <input type="text" placeholder="nombre de comunidad">
                  </div>
                </div>
                <div class="fields">
                  <div class="field">
                    <input type="text" placeholder="oid">
                  </div>
                </div>
                <div class="five wide column centered aligned">
                  <button class="orange ui button" id="snmpv2" v-on:click="snmpv2Handler">Ejecutar</button>
                </div>
              </div>
            </div>
            <!--Contenedor para tab3 SNMP vía comandos-->
            <div class="ui tab segment" data-tab="expert">
              Expert
              asd
              <div class="ui equal width form stackable">
                <div class="five wide column">
                  <button class="orange ui button" id="expert" v-on:click="expertHandler">Ejecutar</button>
                </div>
              </div>
            </div>
            <div class="sixteen wide column">
              <button class="fluid ui button" id="about">acerca de</button>
            </div>
          </div>
          <div class="ten wide column center-container code-editor">
            <div class='embed-nav'>
                Console output
            </div>
            <div class='language-javascript'></div>
            <pre class='line-numbers' v-model="outcome">
              <code  style="left: 10px;" >
{{{outcome}}}
              </code>
            </pre>
          </div>
        </div>
        <script>require('./resources/js/semantic.min.js')</script>
        <script>require('./resources/js/code-editor.js')</script>
        <script>require('./resources/js/app')</script>
        <script>
            $('.ui.dropdown').dropdown({
              allowCategorySelection: false
            });
            $('.menu .item').tab();
        </script>

    </body>
</html>